body{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family:  'Montserrat', sans-serif;
}

.button{  
    margin: 1rem; 
}

/* hide text on start page */
.playPage{
    display: none;
    align-items: center;  
}

.resultPage{
    display: none;
}

#chooseText{
    display: none;
}